@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  --font-pretendard: "Pretendard", sans-serif;
}

* {
  @apply m-0 p-0 box-border;
}

body {
  @apply bg-gradient-to-b from-slate-950 via-indigo-950 to-slate-800 text-gray-950 font-pretendard text-white bg-white leading-[1.5];
}

img {
  @apply w-full block;
}

a {
  @apply no-underline text-inherit;
}

h3 {
  @apply text-2xl text-cyan-100 font-bold
}

.inner {
  @apply w-[min(1440px,90%)] mx-auto;
}

/* ===========================헤더=========================== */
.header {
  @apply sticky top-0 z-10 backdrop-blur-[12px] bg-[#0b1020]/65 border-b border-white/10;
}

.header .inner {
  @apply flex justify-between items-center py-[30px];
}

.logo {
  @apply font-semibold text-cyan-300 font-['Press_Start_2P'];
  text-shadow: 0 0 12px rgba(56, 189, 248, 0.4);
}

.nav ul {
  @apply flex gap-[28px] text-xl text-gray-300 list-none;
}

.nav ul li a{
  @apply px-2 py-2;
}

.nav ul li a:hover {
  @apply text-cyan-300 transition duration-600;
  text-shadow: 0 0 18px rgba(58, 207, 230, 0.35);
}

.nav ul li.active a{
  @apply text-cyan-300
}

/* ===========================히어로=========================== */
.hero {
  @apply min-h-[90vh] grid grid-cols-[1fr_1.1fr] gap-[60px] items-center py-[100px] px-[5%];
}

.hero-subtitle {
  @apply text-fuchsia-400 mb-4 text-[4rem] font-bold tracking-[0.01em];
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.2),
    0 0 10px rgba(255, 77, 255, 0.5),
    0 0 20px rgba(255, 0, 204, 0.35);
}

.hero h2 {
  @apply text-[1.2rem] leading-[1.5] mb-6 font-extralight;
}

.hero .hero-desc {
  @apply text-cyan-200 text-[1.6rem] leading-[1.4] font-medium;
}

.hero .hero-button {
  @apply mt-4 inline-block py-2.5 px-6 rounded-[10px] border border-white/30 transition duration-300; 
}

.hero .hero-button:hover {
  @apply text-cyan-300 border-cyan-300;
  box-shadow: 0 0 18px rgba(58, 207, 230, 0.35);
}

.hero-image img {
  @apply rounded-[28px];
  box-shadow:
    0 0 30px rgba(139, 92, 246, 0.25),
    0 0 60px rgba(255, 78, 205, 0.12);
}

/* ===========================추천,플레이리스트 공통=========================== */
.route-recom,
.playlist {
  @apply py-30
}

.route-grid,
.playlist-grid {
  @apply grid grid-cols-3 gap-6 mt-10
}

.route-card {
  @apply bg-black/5 border border-white/10 backdrop-blur-[10px] rounded-3xl transition duration-300;
}

.route-card:hover,
.playlist-card:hover {
  @apply border-cyan-300 -translate-y-[6px];
  box-shadow: 0 0 18px rgba(58, 207, 230, 0.35);
}

/* ===========================추천=========================== */
.route-card {
  @apply overflow-hidden bg-white/5 border border-white/10 backdrop-blur-md transition duration-300;
}

.route-card:hover {
  @apply translate-y-[-6px];
}

.route-card figure {
  @apply h-[240px];
}

.route-card img {
  @apply w-full h-full object-cover transition duration-500;
}

.route-card:hover img {
  @apply scale-105;
}

.route-text {
  @apply p-6;
}

.route-text .bus-num {
  @apply inline-block text-base font-bold text-cyan-300 mb-3 tracking-widest;
}

.route-text h4 {
  @apply text-[1.35rem] font-bold mb-3 text-white;
  line-height: 1.3;
}

.route-text p {
  @apply text-white/70 text-base leading-6 mb-4 break-keep;
}

.route-text .point{
  @apply text-fuchsia-300 text-sm;
}

/* ===========================풍경=========================== */
.scenery .inner {
  @apply mb-8
}
.swiper {
  @apply h-[720px]
}
.swiper-slide {
  @apply bg-cover bg-center relative h-full overflow-hidden flex items-end p-6;
}

.swiper-slide .overlay {
  @apply  absolute inset-0 bg-black/40;
}

.swiper-slide .title {
  @apply absolute bottom-6 right-6 z-10 text-cyan-300 text-2xl font-light;
  text-shadow: 0 4px 4px rgba(0,0,0,0.5)
}

/* ===========================플레이리스트=========================== */
.playlist-card {
 @apply bg-black/5 border border-white/10 backdrop-blur-[10px] p-7 rounded-3xl transition duration-300;
}

.playlist-card h4 {
  @apply font-bold text-[20px] mb-2
}

.playlist-card .song {
  @apply block text-cyan-300 mb-1
}

.playlist-card .desc {
  @apply text-white/70
}

/* ===========================푸터=========================== */
.footer {
  @apply border-t border-white/10 py-7.5 text-center text-white/50 text-[1rem];
}